.analysis {
  border: 1px solid #ebf0f5;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 60px;
}

.analysis-title {
  color: #566474;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: -0.28px;
}

.analysis-subTitle {
  margin-top: 20px;
  color: #566474;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.28px;
}
